body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

:root {
	--color-bg-primary: #264653; /* japanese indigo */
	--color-bg-secondary: #2a9d8f; /* jungle green */
	--color-text-primary: #ffffff; /* white */
	--color-text-secondary: #e9c46a; /* hansa yellow */
	--color-text-link: #f4a261; /* light red ochre */
}
